{
    "wifi": {
        "ssid": "",
        "psswd": ""
    },
    "mqtt": {
        "client": {
            "id": "pegasus",
            "user": "",
            "psswd": "",
            "topic": "pegasus/door/state"
        },
        "server": {
            "host": "",
            "port": 1883
        }
    }
}
